* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: -apple-system, blinkmacsystemfont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
.container {
  max-width: 1080px;
}
main {
  background-color: brown;
  color: white;
  padding: 2rem 0;
}

section {
  background-color: green;
  margin: 0 auto;
  max-width: 1080px;
  padding: 1rem 1rem 2rem;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36ch, 1fr));
  border-bottom: red 2px solid;
}

section.reversed {
  flex-direction: row-reverse;
}

article {
  background-color: blue;
  color: white;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 240px;
}
article img {
  width: 100%;
  position: relative;
  border-radius: 3px;
}
article p {
  margin: 1rem;
}
article h2 {
  margin: 1rem;
  margin-bottom: 0;
}
