.jumbotron {
  width: 100vw;
  height: min(100vh, 720px);
  position: relative;
}

.jumboImage,
.jumboForeground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jumboImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px) saturate(0.15) contrast(0.7);
  z-index: 1;
}

.jumboForeground {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;
  font-size: clamp(1.5rem, 5vw, 2rem);
  text-shadow: 2px 2px 2px #222;
  z-index: 2;
  padding: 0 5vw;
}
.jumboContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
